/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
@font-face {
  font-family: 'Zephyr';
  src: url('../public/assets/fonts/zephyr-webfont.ttf');
}

body{
  margin: 0;
  background: #F5F2ED;
  width: 100vw;
  height: 100vh;
}

.row{
  margin-left: 0;
}

/* ******* NAVBAR ********** */

.navbar{
  position: fixed;
  width: 100%;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem;
}

.home-page{
  background-color: #F5F2ED;
  height: 100vh;
}

.nav-item.nav-link{
  color: #252525;
  font-family: 'Montserrat', sans-serif;
 
}

.nav-item.nav-link:hover{
  text-decoration: line-through;
  transition: text-decoration .3s ease;
  
}

.navbar-collapse{
  border-bottom: 1px solid #252525;
}

.darkmode-icon{
  width: 30px;
}
/* *******NAVBAR END ********** */


/* ******* HOME PAGE ********** */

.home-container{
  margin: 0;
  justify-content: center;
  align-items: center;
  display: flex;
}

.home-text{
  font-family: 'Zephyr', serif;
  text-transform: uppercase;

}

.developer-col{
  margin-top: -5%;
}



.home-sub-text{
  font-family: 'Montserrat', sans-serif;
}

.name-text{
  font-weight: 700;
}

.btn-row{
  width: 90%;
}
.btn-col{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
}

.arrow-icon img{
  width: 30px;
}

.cursor {
  display: none;
}
/* ******* HOME PAGE END ********** */

/* ******* MEDIA QUERIES ********** */

@media (min-width: 375px){
  .home-text{
    font-size: 4em;
  }

  .home-container{
    min-height: 100vh;
  }


  .btn-col{
    margin-top: 20%;
  }
}

@media (min-width: 500px){
  .home-text{
    font-size: 5em;
  }
}

@media (min-width: 768px){
  .home-text{
    font-size: 9em;
  }
  .home-wrapper{
    margin-left: 15%;
  }
  .home-container{
    min-height: 100vh;
  }

  .btn-col{
    margin-top: 0;
  }

  html,
   body {
      cursor: none;
   }

   .cursor {
      pointer-events: none;

      .cursor__ball {
         left: 0;
        //  mix-blend-mode: difference;
         position: fixed;
         top: 0;
         z-index: 1000;
      }

      .cursor__ball--small circle {
        fill: #252525;
      }

      .cursor__ball--big circle {
        fill: #955F3D;
      }
   }
}


/* ******* MEDIA QUERIES END ********** */