/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body{
  margin: 0;
}

/* ******* NAVBAR ********** */

.home-page{
  background-color: #F5F2ED;
  height: 100vh;
}

.nav-item.nav-link{
  color: #252525;
  font-family: 'Montserrat', sans-serif;
}

.nav-item.nav-link:hover{
  text-decoration: line-through;
  transition: text-decoration .3s ease;
}

.navbar-collapse{
  border-bottom: 1px solid #252525;
}
/* *******NAVBAR END ********** */